body {
	background-color: #a7aea2;
	color: black;
	font-family: Montserrat;
	font-size: 25px;
}

#header {
	text-align: center;
	margin: auto;
	width: 60%;
}

h2 {
	font-family: Shrikhand;
	font-size: 55px;
}

#form-div {
	text-align: center;
	margin: auto;
}

select {
	width: 50%;
	padding: 16px 20px;
	border: none;
	border-radius: 4px;
	background-color: white;
}

#complaint-div {
	width: 60%;
	margin: auto;
	background-color: white;
	border: 2px solid #c88e34;
	align: center;
	box-shadow: 10px 10px #c88e34;
}
