body {
	background-color: #a7aea2;
	color: black;
	font-family: Montserrat;
	cursor: url('cursor.ico'), default;
}

#header {
	position: relative;
	text-align: center;
	margin: auto;
	width: 60%;
}

h2 {
	font-family: Shrikhand;
	font-size: 70px;
	color: black;
}

#img-cloud {
	position: fixed;
	top: 5%;
	right: 10%;
	width: 200px;
}

#img-cloud:hover {
	top: 5%;
	transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
}

#canvas {
	position: fixed;
	top: 20%;
	right: 15%;
}

#terrance {
	width: 200px;
}

#img {
	position: fixed;
	top: 10%;
	left: 10%;
	width: 200px;
	transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
}

#img:hover {
	top: 10%;
	transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
}

h4 {
	padding: 0px;
	margin: 0px;
	font-family: Shrikhand;
	font-size: 25px;
}

#form-div {
	text-align: center;
	margin: auto;
}

select {
	width: 50%;
	padding: 20px 20px;
	font-family: Montserrat;
	font-size: 25px;
	border: none;
	border-radius: 4px;
	background-color: white;
	cursor: url('cursor.ico'), default;
}

#complaint-div {
	display: none;
	width: 50%;
	padding: 10px 10px;
	margin: auto;
	background-color: white;
	border: 2px solid #c88e34;
	align: center;
	box-shadow: 10px 10px #c88e34;
	font-size: 25px;
}

#stats-div {
	display: none;
	width: 50%;
	padding: 10px 10px;
	margin: auto;
	background-color: white;
	border: 2px solid #c88e34;
	align: center;
	box-shadow: 10px 10px #c88e34;
	font-size: 18px;
}

td {
	color: #c88e34;
	td-align: left;
	text-align: center;
	font-size: 22px;
}

#hist-div {
	display: none;
	width: 50%;
	padding: 10px 10px;
	margin: auto;
	background-color: white;
	border: 2px solid #c88e34;
	align: center;
	box-shadow: 10px 10px #c88e34;
	font-size: 18px;
}
